/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/* =============================================
   CSS Labs                 
   ============================================= */
p, a, h1, h2, h3, h4, h5, h6 {
  font-family: Georgia,"Bitstream Charter",serif; 
  letter-spacing: 0.5px;
  color: #555;
  text-decoration: none;
}

.left { float: left; }
.right { float: right; }
.red { background-color: red; }
.no-border: { border: 0; }

.gdBlue {
    background-image: linear-gradient(bottom, rgb(34,136,143) 29%, rgb(37,78,199) 65%);
    background-image: linear-gradient(bottom, rgb(49,94,163) 14%, rgb(124,139,230) 57%);
    background-image: -o-linear-gradient(bottom, rgb(49,94,163) 14%, rgb(124,139,230) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(49,94,163) 14%, rgb(124,139,230) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(49,94,163) 14%, rgb(124,139,230) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(49,94,163) 14%, rgb(124,139,230) 57%);
    
    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.14, rgb(49,94,163)),
    	color-stop(0.57, rgb(124,139,230))
    );
}

.gdRed {
    background-image: linear-gradient(bottom, rgb(143,34,34) 29%, rgb(199,37,37) 65%);
    background-image: -o-linear-gradient(bottom, rgb(143,34,34) 29%, rgb(199,37,37) 65%);
    background-image: -moz-linear-gradient(bottom, rgb(143,34,34) 29%, rgb(199,37,37) 65%);
    background-image: -webkit-linear-gradient(bottom, rgb(143,34,34) 29%, rgb(199,37,37) 65%);
    background-image: -ms-linear-gradient(bottom, rgb(143,34,34) 29%, rgb(199,37,37) 65%);
    
    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.29, rgb(143,34,34)),
    	color-stop(0.65, rgb(199,37,37))
    );
}

.legend { padding-bottom: 15px; font-style: italic; }
   
body {
    background-color:  #fff;
    background-image: linear-gradient(bottom, rgb(255,255,255) 58%, rgb(231,235,240) 79%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,255) 58%, rgb(231,235,240) 79%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 58%, rgb(231,235,240) 79%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 58%, rgb(231,235,240) 79%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 58%, rgb(231,235,240) 79%);
    
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.58, rgb(255,255,255)),
    color-stop(0.79, rgb(231,235,240))
    );
    background-repeat: no-repeat;
}

#container {
  margin: 0 auto;
  width: 800px;
  min-height: 600px;
  border-radius: 0px;

}

#header {
    width: inherit;
    height: 115px;
    min-width: 800px;
    margin: auto;
    border-bottom: 2px solid #000;
    background-color: #4B4B4B;
    background-image: linear-gradient(bottom, #202020 10%, #4B4B4B 100%);
    background-image: -o-linear-gradient(bottom, #202020 10%, #4B4B4B 100%);
    background-image: -moz-linear-gradient(bottom, #202020 10%, #4B4B4B 100%);
    background-image: -webkit-linear-gradient(bottom, #202020 10%, #4B4B4B 100%);
    background-image: -ms-linear-gradient(bottom, #202020 10%, #4B4B4B 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.1, #202020),
        color-stop(1, #4B4B4B)
    );
}

#header .logo {
  vertical-align: middle;
  width: 32px;
  margin: 0 15px 0 0;
}

#header hgroup {
 width: 1024px;
 margin: auto; 
}

#header h1 {
    font-family: 'Lobster', cursive; 
    font-size: 48px;
    text-align: left;
    color: #C5C5C5;
    padding: 10px 0 0 0;
    margin: 0;
}

#header h5 {
    font-size: 16px;
    text-align: right;
    font-style: italic;
    color: gray;
    padding: 0;
    margin: 0;
    margin-right: 125px;
}

/* Version mobile */

#global.mobile {
  width: 100%;
}

.mobile #container {
  width: 100%;
} 

.mobile #header {
  height: 60px;
  width: 100%;
  min-width: 100%;
}

.mobile #header h1 {
  padding: 0;
  text-align: center;
  font-size: 24px;
}

.mobile #header hgroup {
  width: 100%;
}

.mobile #header h5 {
  font-size: 14px;
  margin: 0;
  text-align: center;
}

/* BARRE DE NAVIGATION */
#navigation {
    width: inherit;
    height: 35px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

#navigation .first-list {
    width: 800px;
    margin: auto;    
}

#navigation h4, #navigation ul, #navigation li {
    margin: 0;
    text-align: center;
    color: gray;
}

#navigation h4 {
    line-height: 35px;
    font-size: 14px;
    font-style: italic;
}

#navigation ul {
    position: relative;
}

#navigation li {
    float: left;
    width: 120px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#navigation h4:hover {
  cursor: pointer;
}

#navigation li:hover {
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: color .1s ease-in;
  background-color: #eee;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#navigation ul ul {
    position: absolute;
    display: none;
    border: 1px solid #ccc;
    border-top: 0;
    z-index: 999999;
}

#navigation li li {
    clear: left;
    display: none;
    width: 100%;
    min-width: 120px;
    background-color: #fff;
    text-align: left;
    border-left: 0;
    border-right: 0;
}

#navigation li li img {
    width: 16px;
    height: 16px;   
    padding-right: 5px;
}

#navigation li:hover ul {
  display: block;
  margin-left: -1px; 
}

#navigation li:hover li {
    display: block;  
}

#navigation li li a {
    display: block;
    padding: 10px 15px;   
}

#navigation li:hover li:hover {
  transition: color .1s ease-in;
  background-color: #eee;
  border: 0;
}

#navigation li:hover ul:last-child {
  border-bottom: 1px solid #ccc;
}

#navigation a {
  color: #777;
}
/* FIN MENU DE NAVIGATION */

.tileWrapper {
    background-color: #fafafa;
    border: 1px solid #cacaca;
    margin: 15px 0 25px 0;
}

.tileWrapper:hover {
    background-color: rgb(231,235,240);
}

.tileWrapper h4 { 
    font-size: 18px;
    padding: 15px;
    margin: 0;
}

.tileWrapper img {
    float: left;
    height: 180px;
    margin-right: 20px; 
}
.tileWrapper img.first {
    margin-left: 15px;
}
.tileWrapper img.last {
    margin-right:  0;
}

.tileWrapper p {
    clear: left;
    padding: 15px 15px 0 15px;
}

#footer {
    border-top: 1px solid #cdcdcd;
    text-align: center;
}

