<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <security>
          <requestFiltering>
            <fileExtensions allowUnlisted="true" applyToWebDAV="true">
                <add fileExtension=".json" allowed="true" />
            </fileExtensions>
          </requestFiltering>
        </security>
        <staticContent lockAttributes="isDocFooterFileName">
          <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
        </staticContent>
    </system.webServer>
</configuration>
